body {

    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    background-color: red;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 40px;
}

header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 6px 13px;

}

nav a {
    font-size: 20px;
    padding-right: 30px;
    padding-left: 20px;
}

nav a:hover {
    color: greenyellow;
}
.cesaroldan {
 
 color: white ;
}